:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  height: 100vh;
  font-family: "Rajdhani", sans-serif;
  background-color: lavender;
}

header,
footer {
  padding: 20px;
  background-color: slateblue;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

header {
  font-size: 40px;
}

footer {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: slateblue;
  font-size: 80px;
  font-weight: 500;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  color: slateblue;
  font-size: 20px;
}

li + li {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 20px;
  border: 2px solid slateblue;
  color: slateblue;
}

input[type="checkbox"] {
  border: 1px solid slateblue;
}

button {
  padding: 10px 5px;
  font-size: 20px;
  background-color: slateblue;
  border: 2px solid slateblue;
  color: #fff;
  cursor: pointer;
}

.py-50px {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: start;
}

.text-right {
  text-align: end;
}

.mt-10px {
  margin-top: 10px;
}

.mb-10px {
  margin-bottom: 10px;
}

.ml-10px {
  margin-left: 10px;
}

.mr-10px {
  margin-right: 10px;
}

.groceries-list {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  .groceries-list__item {
    display: grid;
    grid-template-columns: 50px auto 80px;
    grid-gap: 10px;
    align-items: center;
    border: 1px solid slateblue;
    padding: 20px;

    .checkbox {
      height: 100%;
      cursor: pointer;
    }

    .label {
      border: 1px solid slateblue;
      background-color: #fff;
      height: 100%;
      border-radius: 2px;
      display: flex;
      align-items: center;
      padding: 5px 10px;
    }

    .btn-delete {
      border-radius: 2px;
      transition: all 0.4s;

      &:hover {
        /* border: 1px solid slateblue; */
        background-color: #fff;
        color: red;
      }
    }
  }
}

.checkbox:checked ~ .label {
  text-decoration: line-through;
}
